html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img, a,figure,figcaption{ margin:0; padding:0; box-sizing: border-box;}
        fieldset, img { border:none; }
        img{display: block;}
        a{
        	text-decoration: none;
        }
        address, caption, cite, code, dfn, th, var { font-style:normal; font-weight:normal; }
        ul, ol { list-style:none; }

/*头部样式*/
        .header{
        	width: 100%;
        	overflow: hidden;
        	background-color: white;
        }
	    .header_l{
	        float: left;
	        width: 500px;
	        margin-left: 115px;
	        overflow: hidden;
	    }
	    .header_l ul{
	        width: 500px;
	        overflow: hidden;
	    }
	    .header_l ul li{
	        float: left;
	        font-size: 12px;
	        margin: 3px;	
	    }
	    .header_l ul li:last-child a{
	        display: block;
	        width: 60px;
	        background: url(../img/更多箭头.png) right center no-repeat;
	    }
	    .header_l ul li a{	
	       	color: #8C8C99;
	    }
	    .header_r{
	        float: right;
	        width: 300px;
	        overflow: hidden;
	        margin-right: 44px;
	    }
	    .header_r ul li{
	        float:left;
	        font-size: 12px;
	        height: 22px;
	        text-align: center;
	    }
	    .header_r ul li a{	
	        color: #8C8C99;
	       	line-height: 22px;	
	    }
	    .header_r ul li:last-child a{
	        display: block;
	        width: 80px;
	        background: url(../img/购物车.png) left center no-repeat;
	    }
	    /*头部结束*/
	   /*导航栏开始*/
        .naver{
        	width: 1200px;
        	margin: 0 auto;
        	height: 50px;
        	margin-top: 20px;
        	position: relative;
        }
        .naver .nav_logo{
        	float: left;
        	margin-right: 10px;
        }
        .naver ul{
        	width: 550px;
        	overflow: hidden;	
        }
        .naver ul li {
        	float: left;
        	margin: 10px;
        }
        .naver ul li a{
        	color: #000;
        }
        .naver ul li a:hover{
        	color: #CA141D;
        	border-bottom: 2px solid #CA141D;
        }
        .naver .search-text{
        	width: 310px;
        	height: 25px;
        	border-bottom: 1px solid #8C8C99;
        	position: absolute;
        	right: 20px;
        	top: 15px;
        }
        .naver .nav_search{
        	background: url(../img/icon-common.png) ;
        	background-position:0 -28px;
        	float: right;
        	position: absolute;
        	right: 0;
        	top: 23px;
        	width: 20px;
        	height: 18px;
        	border-bottom: 1px solid #8C8C99;
        }
        /*导航栏结束*/
       /*详情界面*/
       .center{
      	width: 100%;
      	border-top: 5px solid #E0E0E0;
      	margin-top: 10px;
      	position: relative;
      }
      .xiangqing{
      	width: 1200px;
      	height: 600px;
      	margin: 15px auto;
      }
      .xiangqing-l{
      	width: 480px;
      	height: 480px;
      	background: red;
      	float: left;
      	position: relative;
      }
      .xiangqing-r{
      	width: 720px;
      	height: 450px;
      	
      	float: right;
      }
      .xiangqing-r p{
      	font-size: 28px;
      	margin-bottom: 70px;
      }
      .xiangqing-r span{
      	display: block;
      	margin-bottom: 200px;
      	color:#C9131D
      }
      .xiangqing-r input{
      	width:172px;
      	height: 46px;
      	background: #FC600C;
      	color: white;
      	border: none;
      	
      }
      
      /*放大镜开始*/
     .gallery{
     	background-size:1097px 1097px ;
     	width: 400px;
     	height: 400px;
     	left: 600px;
     	top: 20px;
     	position: absolute;
     	display: none;
     }
     .mask{
     	width: 227px;
		height: 227px;
		border: 1px solid #CCCCCC;
		position: absolute;
		top: 0;
		left:0;
		opacity: .3;
		background-color: #8C8C8C;
		cursor: move;
		display: none;

     }
      /*footer开始*/
	   	.footer{
	   		width: 1423px;
	   		height: 360px;
	   		
	   		margin: 0 auto;
	   	}
	   	.footer-shouhou{
	   		width: 1200px;
	   		height: 140px;
	   		
	   		margin: 0 auto;
	   	}
	   	.footer-shouhou li{
	   		float: left;
	   		height: 140px;
	   		line-height: 140px;
	   		margin-right: 80px;
	   	}
	   	.footer-shouhou li a{
	   		color:black;
	   		font-size: 17px;
	   	}
	   	.footer-shouhou li span{
	   		float: left;
	   		background: url(../img/icon-common.png);
	   		width: 46px;
	   		height: 46px;
	   		margin: 49px 20px 0 0;
	   	}
	   	.footer-shouhou li:nth-child(1) span{
	   		background-position: 0 -151px;
	   	}
	   	.footer-shouhou li:nth-child(2) span{
	   		background-position: -94px -151px;
	   	}
	   	.footer-shouhou li:nth-child(3) span{
	   		background-position: -141px -151px;
	   	}
	   	.footer-shouhou li:nth-child(4) span{
	   		background-position: -47px -151px;
	   	}
	   	.footer-youqing{
	   		width: 1200px;
	   		height: 220px;
	   		margin: 0 auto;
	   	}
	   	.footer-youqing-l{
	   		width: 944px;
	   		height: 160px;
	   		float: left;
	   		border-right: 1px solid #EBEBEB;
	   	}
	   	.footer-youqing-l li{
	   		height: 160px;
	   		width: 157px;
	   		float: left;
	   		margin-top: 31px;
	   		background: url(../img/footer-line.png) no-repeat;
	   	}
	   	.footer-youqing-l li dl{
	   		margin: 17px 0 0 0;
	   	}
	   	.footer-youqing-l li dl dt{
	   		color: black;
	   		font-size: 13px;
	   		margin-bottom: 20px;
	   	}
	   	.footer-youqing-l li dl dd a{
	   		color: #666666;
	   		font-size: 12px;
	   	}
	   	.footer-youqing-l li dl dd a:hover{
	   		color: #CA151C;
	   	}
	   	.footer-youqing-r{
	   		width: 256px;
	   		height: 160px;
	   		float: left;
	   		margin-top: 31px;
	   		
	   	}
	   	.footer-youqing-r div{
	   		height: 160px;
	   		background: url(../img/footer-line.png) no-repeat;
	   		margin-left: 40px;
	   		padding-top: 20px;
	   	}
	   	.footer-youqing-r div p{
	   		color: #666666;
	   		font-size: 12px;
	   		margin-top: 17px;
	   		margin-bottom: 17px;
	   	}
	   	/*footer结束*/
	   	/*bottom开始*/
	   	.bottom{
	   		width: 1423px;
	   		height:120px;
	   		
	   		margin: 0 auto;
	   	}
	   	.bottom-main{
	   		width: 1200px;
	   		height: 120px;
	   		margin: 0 auto;
	   		overflow: hidden;
	   		position: relative;
	   	}
	   	.bottom-main .bottom-text{
	   		position: absolute;
	   		left: 117px;
	   		top: 31px;
	   	}
	   	.bottom-main .bottom-logo{
	   		position: absolute;
	   		top: 50px;
	   		left: 0;
	   	}
	   	.bottom-text p{
	   		color: #A4A4AA;
	   		font-size: 10px;
	   		margin-bottom: 5px;
	   	}
	   	.bottom ul{
	   		position: absolute;
	   		right: 0;
	   		top: 40px;
	   		width:366px;
	   		height:24px;
	   		
	   	}
	   	.bottom ul li{
	   		float: left;
	   		margin-right: 3px;
	   	}
        .bottom ul li img{
	   		width: 69px;
	   		height: 23px;
	   	}
	   	/*bottom结束*/
